<div class="content">
  <div class="content-box">
    <h1>Herramientas</h1>
  </div>

  <div class="dropdown">
    <div id="dropdown-content-tools" class="dropdown-content">
      <a href="#" data-content-id="item2-content" class="border-bottom">Metronomo</a>
      <a href="#" data-content-id="item3-content" class="">Afinador Digital</a>
    </div>
  </div>

  <!-- Content area where selected content will be displayed -->
  <div class="content-area" id="content-area-tools">
    <p>Seleccione una de nuestras herramientas para ver el contenido aquí.</p>
  </div>

  <div id="item2-content" class="hidden-content">
    <h2>Item 2 Content</h2>
    {{metronome[""]}}
  </div>

  <div id="item3-content" class="hidden-content">
    <h2>Item 3 Content</h2>
    <p>This is the content for Item 3.</p>
  </div>

  {{page-guitar-fretboard[""]}}

</div>

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>
  <p>
    Galeria de musica producidas en el estudio <b>Catarsis Musical</b>.
  </p>

  <img class="content-tools-logo" src="./../../assets/img/tm-community.png" alt="" />
</div>
