<div class="content">
  <div class="content-box">
    <h1>Herramientas</h1>
  </div>

  <div class="dropdown">
    <button class="dropbtn"><i class="fas fa-bars"></i></button>
    <div id="dropdown-content" class="dropdown-content">
      <a href="#" data-content-id="item1-content" class="box-red">Escala Pentatonica</a>
      <a href="#" data-content-id="item2-content" class="box-blue">Metronomo</a>
      <a href="#" data-content-id="item3-content" class="box-blue">Afinador Digital</a>
    </div>
  </div>

  <!-- Content area where selected content will be displayed -->
  <div class="content-area" id="content-area">
    <p>Seleccione una de nuestras herramientas para ver el contenido aquí.</p>
  </div>

  <div id="item1-content" class="hidden-content">
    <h2>Guía Completa de la Escala Pentatónica</h2>
    {{guitar-fretboard[""]}}
  </div>

  <div id="item2-content" class="hidden-content">
    <h2>Item 2 Content</h2>
    {{metronome[""]}}
  </div>

  <div id="item3-content" class="hidden-content">
    <h2>Item 3 Content</h2>
    <p>This is the content for Item 3.</p>
  </div>

  <br/><br/><br/><br/><br/>

</div>
