<div class="content">
  <div class="content-box">
    <h1>Herramientas</h1>
  </div>

  <div class="dropdown">
    <div id="dropdown-content-tools" class="dropdown-content">
      <a href="#" data-content-id="item1-content" class="border-bottom">
        Guia completa de la <b>escala pentatonica</b>
      </a>
      <a href="#" data-content-id="item2-content" class="border-bottom">
        <b>Metronomo</b> para practicar en casa
      </a>
      <a href="#" data-content-id="item3-content" class="">
        <b>Afinador</b> de guitarra
      </a>
    </div>
  </div>

  <!-- Content area where selected content will be displayed -->
  <div class="content-area" id="content-area-tools">
    <p>Seleccione una de nuestras herramientas para ver el contenido aquí.</p>
  </div>

  <div id="item1-content" class="hidden-content">
    <h2>Del Curso <b>MUSICO 2.0</b></h2>
    <h3>Guia Completa de la escala Pentatonica</h3>
    <p>
      Para utilizar la escala pentatonica de catarsis musical haz
      <a href="https://josegomez-dev.github.io/catarsismusical/tools/scales.html"><b>CLICK AQUI</b></a>
    </p>
  </div>

  <div id="item2-content" class="hidden-content">
    <h2>Del Curso <b>FUNDAMENTOS BASICOS</b></h2>
    <h3>Metronomo Digital</h3>
    <p>
      Para utilizar el metronomo de catarsis musical haz
      <a href="https://josegomez-dev.github.io/catarsismusical/tools/metronome.html"><b>CLICK AQUI</b></a>
    </p>
  </div>

  <div id="item3-content" class="hidden-content">
    <h2>Del Curso <b>FUNDAMENTOS BASICOS</b></h2>
    <h3>Afinador Digital de Guitarra Electrica</h3>
    <p>
      Para utilizar el afinador de guitarra electrica de catarsis musical haz
      <a href="https://josegomez-dev.github.io/catarsismusical/tools/tunner.html"><b>CLICK AQUI</b></a>
    </p>
  </div>

</div>

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>

  <img class="content-tools-logo" src="./../../assets/img/tm-community.png" alt="" />
</div>
