<div class="shareArticle">
  <div class="shareSocial">
    <h3 class="socialTitle">Share Article:</h3>
  </div>
  <div class="shareSocial">
    <div>
      <img src="./../../assets/img/home/academy.png" alt=""/>
    </div>
  </div>
  <div class="shareSocial">
    <ul class="socialList">
      <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href=""><i class="fas fa-code"></i></a></li>
      <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href=""><i class="fa-brands fa-medium"></i></a></li>
      <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
    </ul>
  </div>
  <div class="shareLink">
    <div class="permalink">
      <input class="textLink" id="text" type="text" name="shortlink" value="https://josegomez-dev.github.io/catarsismusical/welcome.html" id="copy-link" readonly="">
      <span class="copyLink" id="copy" tooltip="Copy to clipboard">
        <i class="fa-regular fa-copy"></i>
      </span>
    </div>
  </div>
</div>
