
<div id="welcome-screen" class="welcome-screen">
  <div class="logo-container">
      <img src="https://josegomez-dev.github.io/catarsismusical_mini-app/assets/img/tm-academy.png" alt="Company Logo" class="logo rotateY-once" id="logo">
  </div>
  <h1 class="title color-white">Bienvenido a <span class="primary-text"> <br/> Catarsis Musical</span></h1>
  <p class="description">¡Descubramos juntos el maravilloso <br/> mundo de la improvisación!</p>
  <button class="primary-button" id="start-button">START <i class="fas fa-music"></i></button>
  <br/><br/>
  <div class="footer-content" style="background: black;">
      <p>Powered by:</p>
      <img src="https://josegomez-dev.github.io/catarsismusical_mini-app/assets/img/logo.png" alt="Company Icon" class="company-icon">
  </div>
</div>
