<div class="content">
  <div class="content-box">
    <h1>Bienvenido a Catarsis Musical</h1>
    <!-- <button class="primary-button red-type"><a class="color-white" href="./index.html">RELOAD PAGE</a></button>
    <button class="primary-button white-type"><a class="color-black" href="https://wa.me/50662402974">?</a></button> -->
    <!-- <button class="primary-button blue-type">START</button>
    <button class="primary-button green-type">START</button> -->
    <!-- <button class="primary-button yellow-type">START</button>
    <button class="primary-button purple-type">START</button> -->
    <!-- <button class="primary-button black-type">START</button>
    <button class="primary-button white-type">START</button> -->
  </div>
</div>

<div class="content-area">
  <h1>Descubre la alegría de la música</h1>
  <p>
    Mira nuestros cursos escencialmente enfocados en instrumentos de cuerda como: <b>FUNDAMENTOS MUSICALES</b> e <b>IMPROVISACION MUSICAL</b>. <br>
    Aprende a potenciar tu arte y tu carrera con herramientas de <b>Inteligencia Artificial (IA)</b>, en el curso: <b>MUSICO 2.0</b>.
  </p>
  <p>
    Únete a nuestra comunidad de músicos apasionados.
  </p>

  {{share-article[""]}}

</div>

{{bongo-cat[""]}}

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>
  <p>
    Galeria de musica producidas en el estudio <b>Catarsis Musical</b>.
  </p>
</div>

<img class="content-bottom-logo" src="./../../assets/img/logo.png" alt="" />

