<div class="content">
  <div class="content-box">
    <h1>Cursos</h1>
  </div>

  <div class="dropdown">
    <button id="dropdown-btn-courses" class="dropbtn"><i class="fas fa-bars"></i></button>
    <div id="dropdown-content-courses" class="dropdown-content">
      <a href="#" data-content-id="item1-course" class="box-red">Fundamentos Basicos</a>
      <a href="#" data-content-id="item2-course" class="box-blue">Cursos Avanzados</a>
    </div>
  </div>

  <!-- Content area where selected content will be displayed -->
  <div class="content-area" id="content-area-courses">
    <p>Explora nuestro catalogo de cursos musicales.</p>
  </div>

  <div id="item1-course" class="hidden-content">
    <h2>Fundamentos Basicos</h2>

    <div class="course-grid" style="background-color: transparent;">
      <div class="box-red">
        <h3>Guitarra Acustica</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-blue">
        <h3>Guitarra Electrica</h3>
        <i class="fas fa-guitar"></i>
      </div>
    </div>
  </div>

  <div id="item2-course" class="hidden-content">
    <h2>Cursos Avanzados</h2>

    <div class="course-grid" style="background-color: transparent;">
      <div class="box-blue">
        <h3>SONGWRITING</h3>
        <i class="fas fa-book-open"></i>
      </div>
      <div class="box-red">
        <h3>Requinto</h3>
        <i class="fas fa-music"></i>
      </div>
    </div>
  </div>

  <!-- <div class="course-grid" style=" background-color: transparent;">
    <div class="box-red">
      <h3>About</h3>
    </div>
    <div class="course-item joining">
        <h3>Joining the Course</h3>
    </div>
    <div class="course-item student-life">
        <h3>Student Life</h3>
    </div>
    <div class="box-blue">
        <h3>Events</h3>
    </div>
  </div> -->

  <p>
    <b>¡Descubramos juntos el maravilloso mundo de la improvisación!</b>
  </p>
</div>


<br/><br/><br/><br/>
