<div class="content">
  <div class="content-box">
    <h1>Cursos</h1>
  </div>

  <div class="dropdown">
    <div id="dropdown-content-courses" class="dropdown-content">
      <a href="#" data-content-id="item1-course" class="border-bottom">
        <span class="badge basic">nvl-Basico</span> | Fundamentos:
      </a>
      <a href="#" data-content-id="item2-course" class="border-bottom">
        <span class="badge intermediate">nvl-Intermedio</span> | Teoria Musical:
      </a>
      <a href="#" data-content-id="item3-course" class="">
        <span class="badge advanced">nvl-Avanzado</span> | IA (Técnicas y Tips):
      </a>
    </div>
  </div>

  <!-- Content area where selected content will be displayed -->
  <div class="content-area" id="content-area-courses">
    <p>Explora nuestro catalogo de cursos musicales.</p>
  </div>

  <div id="item1-course" class="hidden-content">
    <h2>Fundamentos Basicos</h2>

    <div class="course-grid" style="background-color: transparent;">
      <div class="box-blue">
        <h3>Curso de Guitarra Acústica</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-blue">
        <h3>Curso de Guitarra Eléctrica</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-red">
        <h3>Curso de Improvisación Musical (Instrumentos de Cuerda)</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-blue">
        <h3>Lectura de Partituras y Tablaturas</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-blue">
        <h3>Aprende la Notación Musical Universal</h3>
        <i class="fas fa-guitar"></i>
      </div>
    </div>
  </div>

  <div id="item2-course" class="hidden-content">
    <h2>Fundamentos de Teoria Musical</h2>

    <div class="course-grid" style="background-color: transparent;">
      <div class="box-blue">
        <h3>Intervalos Musicales</h3>
        <i class="fas fa-guitar"></i>
      </div>
      <div class="box-red">
        <h3>Familias de acordes (Grados Musicales)</h3>
        <i class="fas fa-guitar"></i>
      </div>
    </div>
  </div>


  <div id="item3-course" class="hidden-content">
    <h2>Técnicas y Cursos Avanzados</h2>

    <div class="course-grid" style="background-color: transparent;">
      <div class="box-red">
        <h3>SONGWRITING</h3>
        <i class="fas fa-book-open"></i>
      </div>
      <div class="box-red">
        <h3>MUSICO 3.0</h3>
        <i class="fas fa-music"></i>
      </div>
    </div>
  </div>
</div>

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>

  <img class="content-academy-logo" src="https://josegomez-dev.github.io/catarsismusical_mini-app/assets/img/tm-academy.png" alt="" />
</div>
