<div class="content">
  <div class="content-box">
    <h1>Cursos</h1>
  </div>

  <div class="course-grid" style="background-color: transparent;">
    <div class="box-red">
      <h3>Guitarra Acustica</h3>
      <i class="fas fa-guitar"></i>
    </div>
    <div class="box-blue">
      <h3>Guitarra Electrica</h3>
      <i class="fas fa-guitar"></i>
    </div>
    <div class="box-blue">
      <h3>SONGWRITING</h3>
      <i class="fas fa-book-open"></i>
    </div>
    <div class="box-red">
      <h3>Interpretación Musical</h3>
      <i class="fas fa-music"></i>
    </div>
  </div>

  <!-- <div class="course-grid" style=" background-color: transparent;">
    <div class="box-red">
      <h3>About</h3>
    </div>
    <div class="course-item joining">
        <h3>Joining the Course</h3>
    </div>
    <div class="course-item student-life">
        <h3>Student Life</h3>
    </div>
    <div class="box-blue">
        <h3>Events</h3>
    </div>
  </div> -->
</div>

<br/><br/><br/><br/>
