.course-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  gap: 0 15px;
  margin-left: -5px;
}

.course-grid i {
  margin: 0 auto;
  margin-top: -25px;
}

.course-grid h3 {
  padding: 15px;
}
