<div class="content">
  <div class="content-box">
    <h1>Juegos</h1>
  </div>

  <div class="content-box">
    <div class="games-grid">
      <div class="box-red">
        <a target="_blank" href="https://www.youtube.com/watch?time_continue=3&v=a2musNj58J0">
          <img class="game-image" src="./../../assets/img/merch/grades-table-back.jpg" alt="">
        </a>
      </div>

      <div class="">
        <a target="_blank" href="https://www.youtube.com/watch?time_continue=3&v=a2musNj58J0">
          <img class="game-image" src="https://www.sessiontown.com/images/apps/9_thumb.jpg?1689337620" alt="">
          Perfect Pitch
        </a>
      </div>

      <div class="">
        <a target="_blank" href="https://www.youtube.com/watch?time_continue=3&v=a2musNj58J0">
          <img class="game-image" src="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/8e/16/dc/8e16dc61-57c6-6d2f-4ec0-a6801a2d63d4/AppIcon-0-0-1x_U007emarketing-0-7-0-0-85-220.png/1024x1024.jpg" alt="">
          Write Music
        </a>
      </div>
    </div>
  </div>

</div>

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>
  <p>
    Galeria de musica producidas en el estudio <b>Catarsis Musical</b>.
  </p>

  <img class="content-games-logo" src="./../../assets/img/tm-games.png" alt="" />
</div>
