<div class="content">
  <div class="content-box">
    <h1>Juegos</h1>
  </div>

  <div class="content-box">
    <div class="games-grid">
      <div class="box-red">
        <a target="_blank" href="https://www.youtube.com/watch?time_continue=3&v=a2musNj58J0">
          <img class="game-image" src="./../../assets/img/merch/grades-table-back.jpg" alt="">
        </a>
      </div>

      <div class="">
        <a target="_blank" href="https://www.youtube.com/watch?time_continue=3&v=a2musNj58J0">
          <img class="game-image" src="https://www.sessiontown.com/images/apps/9_thumb.jpg?1689337620" alt="">
          Perfect Pitch
        </a>
      </div>

    </div>
  </div>

</div>

<div class="content-box">
  <p>
    Ofrecemos <b>juegos, herramientas y recursos</b> que impulsan el desarrollo de tu creatividad y habilidades musicales.
  </p>
  <p>
    <b>Estudio de produccion y composicion musical</b>, consulta por nuestras tarifas.
  </p>

  <img class="content-games-logo" src="https://josegomez-dev.github.io/catarsismusical_mini-app/assets/img/tm-games.png" alt="" />
</div>
