<div class="content">
  <div class="content-box">
    <h1>Perfil</h1>
  </div>
</div>

<div class="profile-container content-box">
  <!-- Profile Header -->
  <div class="profile-header">
      <div class="clickable-container">
        <div class="character-container" id="character" onclick="animateAvatar()">
            <img src="https://josegomez-dev.github.io/vainilla-JS-reactive-components/assets/img/avatar.png" alt="Character" class="character">
        </div>
        <div class="hand">👉</div>
      </div>
  </div>

  <!-- User Info -->
  <div class="user-info">
      <h2 id="username">Alejandro Gomez</h2>
      <p id="bio">Software Engineer | Musician | Creative Technologist</p>
  </div>

  <!-- Stat Counters -->
  <div class="stats">
      <div class="stat">
          <h3>Courses</h3>
          <p id="followers">10</p>
      </div>
      <div class="stat">
          <h3>Activity</h3>
          <p id="posts">50%</p>
      </div>
      <div class="stat">
          <h3>Leaderboard</h3>
          <p id="likes">3#</p>
      </div>
  </div>
</div>

{{leaderboard-table[""]}}

<!-- Bottom Modal for Editing Profile -->
<div id="profileModal" class="modal">
  <div class="modal-content">
      <span class="close-btn" onclick="closeEditUserModal()">&times;</span>
      <h2>Edit Profile</h2>
      <input type="text" id="editUsername" placeholder="Enter Username">
      <textarea id="editBio" placeholder="Enter Bio"></textarea>
      <button class="save-btn" onclick="saveProfile()">Save</button>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
